.shop__board {
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  width: calc(160px * var(--ration));
}

.shop__slot {
  position: relative;
  width: calc(80px * var(--ration));
  height: calc(80px * var(--ration));

  background-image: url('https://lh3.googleusercontent.com/fife/AKsag4Mx0Q_cLK6RKuV5-N0fcuqggW84WQMRR1kECY2Kct3uAlbL8MgbB7A06Ho-gL98ZUQ0UaBWWW0VxeSJnzjZOzvt_tApJIMhXiDJQ6r4Kh5J4TSCBSyGgMmu20rYZVOug55zEGStvgtI0ZqvegnGXcx6v36sW-Qo2SwF18hgdt1ZqjHzjOFXm8fxZ9cX3_FJQP8flLuErkXcQDwe0vSjabBpuRjkmKPy_-JDcwNKhGaiHYQRQg7dBMAV9WkcNTDXoyrJ-MsPiLKvkRB401cWAF-1GIosNsiZvouNYSiOKf1j7j9z2vua09DsPZPKKUNLdv_MSjFqOgPdgXQbQXT8mFNZe3xXGmu1Eg5LMXc37pe98blbShxbK48e52o3Qxv1mouVQrvSGjyA_LSb7j9tJuQoOHh9x-DdVNbCIqEhqTbhBdKdhdDBSv9J4vuStVBuJfWJ4MeMFKgQ0BbxpsuNo6V38RXxdB8RNmUqxwbELW38aSaSWTI8IFHbrhL1EAY8eT6YS2XUu9K8B9nT43Pf0Jv5rRzgMBvizrLHVxYtii60Mx6t-VkiTtTA6NU9leqofdTA8imCLgC28ubHtxkAFrJrgXHog_lvgvuhoauUgO4qaWuBpIt740vtL9DK-6CC_jNDNY1HSLkpNXxFgTUtjEu5KhH-i-W0Cz3rwbDOJ1oylxd8ZqyFoaE9EsAbqQXtaTmOyPa9hTItKlu793USl55yP9RvdZ0RvCa38pWvVFbMxp0YT20x7JOL-mr2RGWjlPHVdhjwcDKtjy3-N-kypx3uTM3NrUfm4_AvV14T_RbvwEQgbS7UgesXzwUAINBMXiu_HmxN51p1b-EbKrXC4hssP6gVjFdNL0cajJijrm2vNQepDzbDTUiozvKLT4OQprCvv3cvz5taKSx2kIzziALatwFpyN-esLK-vBX0dU0mEUfekd_I5ItGbyEaBo33QF1zBc2WYKubMv1xX56q-y7wMASFZIcJ2Yt8QsnopOxOW-PAQ1aHmy8MS0dxNAi4iVJmfB3Poftc1d3GE8jYAE4uo8-dYsMab8mOL_N1AMSK-xZRm9MS72Kfzd4M-ET9B7wQdZ6S8P7qwXmch7PtDVOpQlz4j4IWGMdT8vQU58zfF8o7zjiPmSQnAUwupnsJHEkX6IuBPRxrageRX2gnG3V1_I9rj8AWqAvHnIeEPg0RL20t7WymGS-cXSoHFUES6UZKlN8JDmz8XDYxzchZI-JU6-4uXbfwJ5jn0asHPqob8Q21e-PDp7HCMxKgpc3BxjU6LbdV54r_hnpzR425BrvtbcNCFZWV3nCMvoxfHUbR_Vi7WkN7z4l4desG4K2sVjwEvGSZU-X_wLiZsww61iSYNuvv4H0KiRa1swAQ_eklI9H1WksY1b3xhCz1-AOnc6fFblXs7_l_VFQCrb7sCYIkCGPYVDk_kGzEyLLp60cFBVf6lRvOKr0GmFRANCixCj8ehe0I6peyMqtcoBgsE_LWQkrjNXprw3d0x2cYkEelSw2Ncbfg8LGDtkxsF84XV3-Hj8oo58wMgYNym3G-ED4=w1388-h980');
  background-size: cover;
}
.shop__slot--sold {
  background-image: url('https://lh3.googleusercontent.com/fife/AKsag4PSSTI3-EUadAgkzNDywtDXg4ohx0Boj3uyd1-V7dguZkRU-41o8y8Bx-San9OpKTliiPhlcKDviRJoog3iPkubV5YR5HBIEik7oScz5-Xjt-zFnmyoys_MXeoPk_czjvJC2IS6vrtcnUSMghDUsq6BTc9_6HrU1nHwgmGeoacKqL2TlvlyEm4EbEGBbF-ht--k0LFxzRa0ooVWvJYnlkvJCwlbf4w8pZ6-Rt3EFo7F8NNABx6ZqRerFUCsTQFAs1KkPdgyxXrcw9IUGyK9J5kr3FEiHZDpRWeUJ6sra-yXIdhapa5j3Aq82Kai-fpcP8b_4bQZroaPUhjGNSutJ95KbkeUtCYY3EMDiEgyJ-FYmpj6OGXGpS9q3T9u8j0ey28siAdRMpNq5um2ocl-3vfLy28CkkoXs5Pq6uGmZ0Bl1r-D0Ux5Bf2RX5f0wEvPFaHc6cw2YtREpYZ3Xw6UFHNW3R4k0K7XLKpLX65MhPF1rO8PFmhfRnlsooLRm2aA3_oyolfDmnGk1g3WeJLNR2oAO-A3sh8kGLiZL1kvRx_PcxzKlygVhTilscifOF4H9TyuK-P2Nt4hi8ix0AYi34bg2mdxDzRfM395XWVnF29qK7F1dMInKhkf6hT5_N8XTD8AxyEIWnuKLWvGxD4MZ9Cw9rLuKXhD1NXy6Qh2jrxgrDuWwqhRU-nlUF_rDQpSTT3-3GCdVTJErkVW-C8nV4Qmnaaxwfv0RZxzVE5gnnzNJOHT-vMpjPqc187X29fdDXPRL9EUpLGFa1aL2uqWde-szX8rAozekCgfd76dgn3W09y4vZdpzBHTxfNgZxmFyQTTE-swG_foCoC-SFAiWjycZED35VyK5A7QCkJDP-fZRyKDBDyYrvLrUwpptfsOQBCDpgqazpjSByOeHihTPnrrJ4NSIh55E5ogfSaxY2mhEUN5oY0NhK-3S6tMbYF1n1GaD_ZGE2XBEjmndg7Dg17-jqhX3SxenePieqXYXc3opHgtEc26eVd5VBSjYlEtHS4uATzzX3OCzL18feT94P90_a2l_OfEYLAa7Wd6Ayb-BmW8LuTjkTamRz0gJ0Zl1iF7BZbMMcYbb9e9OFG4VA4XU21eiWt18FKh4OYiTsJBOF5kRQQf9FGxXuzOVcAA73klRQV4ZcpTUSVHcLwm9gsulQHXNqqCUOT60TOzZvGrJNnVVXf_X7yHCU_OaR76Dp9BW--XCJVI9HpuCz5dTvWt5rrR-mYVwxc7zAAewetAqAoDZgNpoTNabuap8Ka3S72BBPOLCfgRtn9anVqNp2gFs5M1G-aE_O1NbkvhNGL29zY684A40gXnv09S5uOMfKpUzNrLjJX6yu4C3-ikVSWM5th-jS3jC41X0sgcT3j_SPZDkioT2TH8YtUZ6X6x5QdOzJnS94N8InmVKx-Yq4NV64sdVfrOq4ZFVSOxIKj2g-Malf3M7RWNPnMQVLYZrj9RCiF4vR7sC6AH6vs-RURNEs0G68FFsVHoiSc8tKBd7Aa7an4mC3Q0BkQ7GOR--dj37GrWCSnGvfjiSs_0PCk=w1848-h980');
}
.shop__cost {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: calc(60px * var(--ration));
  height: calc(10px * var(--ration));
  padding-right: calc(5px * var(--ration));
  background-image: url('https://lh3.googleusercontent.com/fife/AKsag4PtWN_HpAOgEkDSQDFclVSWICbT0C9sVtkqmDtJVlTu-Ulsp9FfrdFXNKLTUyoajcphJcjs58iK3xDg-wFIl-SANwygaAiRtOJzlhKYv0F-s6dhmOw6WZHKWUoz66ahcR3LPKf_YQ3-N46EWq6EggT0s_nNFbg5ZdZZAC8C9Siwr19ickwuLXV5ipcQbGKZkinYuPgBxkdxBr4VwbyVNrBEwReWFohZCtqRa6a1vRnSdAjz2Xt1UpXcL85zsQStLFWm9jyUKJ5L1RnQoZq4La2cGVxo7XubU-w64czIr8SrKkg2UoSesIxMRWuz0gOU98O00z9QHC_DHhN_YR5uKwFvP3nYCnGZ2GsS_2EY2XLwNaavwyTcTkuOhNFIz5ShVYhDUYYl34_74Af8xbJnjwSLuDSh10RtakoyfeNDifPfoaOK0IPzy5LweqQdydrWT3Mj7FPdNlYa-vimAiCsWAn9aDfssOLjs_PvY1W5UPhj9a1zFR733lxL81_hlaGbBAr73Fa2p9yjphHrcbblvpA_19kNLqEsK8ewAdHepg-Pn0nUwZ3WRzbZOWKyB14exgG5gF362o4gforXnrBlj12mxix1ZM8Bxx6gu-UvgEMdOnf50CxyJ4Rbe5qA4Fx8KTt_icXuKctIbZ6InUyiYQIEpTL5IyTXpbl1SaD6moOTuLu5L2VGbnvymc9W3Xc9bbvq21KrBnmvXlfT19OmiXtAZ0MdIRue6y9zsXNLfjcUOQ9-uWoqBGgvvaXTKJjdHfXyHVhfdSdmsKev-K5AAQF1sb2n7aBXYdHS3EYbVnkq0_N6WS1uc8Q0cWBptGmTYbEDd6m-R3OVZGBphsiet3pNlqnkjnXCFr15NOF5hf44-4wjXdR8Iw1UvUASO6axF8xQY3Wqh7Cvh4g6ZoeVnmELzDOTQEhl2UO6915gCKnk_sWGYgdelomv6vSWlzqSVveHwHbqPTNBGh8udt-0p6IuL36KKWvz_afCxku4nmJaN9qNAvPx3TSNmn5PjihW6gu-ML9iZ0uutEn-XxXIlV5JX7agRFnyEbNxs2vD0ojiPL1pOhmVr02aSVEYMPuIOa3DUXjCduiRVWNdgKI8qmnYhi27_8lqruq2LMpBnXmFZfB65plT5H0Abhb86JfiAyUA_IQaR_bv2wDCVp8QmVqXCYbUmYvxCBQ4gaNj7VT-pB0Q6Rpy9oFa7-tJdE8mnWzI0YWSMF08_esR5fWUZ7AgSaX-bmc7ErLohyu7nIrqFxmxIx-gw7QNFNBAEEPvDJPrLf0BWZkJHv05aSZ7yON9cq63095keh7VHldEusb-8BCqfd-wDBzdIOvA-Su6Ybu4vCJEr1p8EwmziSmjDcG4BtfqY1g80m3HPocKEaQPLvbg-wB8Eyw3U8l1eeQT0Gw87jBZWJ0Rwwq6kngpB_byYQh9Ret591614Uoz9PrcMYayLIqjBScNwH58X1lqGxkbaS2h8WrB2Hn2ZlyLuwpDCiW9A32ItPuAbNhSuHIOWgwsGMpYqEAFALWmlvWrvi4_NCDwYkCNVEaMvz33=w1388-h980');
  background-size: cover;

  box-sizing: border-box;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: right;
  text-shadow: calc(1px * var(--ration)) calc(1px * var(--ration)) 0 #000;
  color: #bd9e4a;
}

.shop__item {
  width: calc(80px * var(--ration));
  height: calc(80px * var(--ration));
  cursor: pointer;
}

.shop__slot--sold .shop__item {
  cursor: auto;
}
